/* base styles */

body {
    height: 100%;
    font-family: 'Roboto', Helvetica sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

h1, p {
    margin-top: 60px;
}

p {
    font-family: 'Open Sans', Helvetica sans-serif;
}


/* background */

.background {
    background-color: #59D0FF;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin:0;
}

/* icon */

.icon {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 50px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    cursor: hand;
}


/*input field */

.main-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

form {
    background: #59D0FF;
    display: inline-block;
    font-size: 24px;
}

form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

.forecast-box {
  display: flex;
  flex-direction: row;
}

.current-temp {
  display: flex;
  font-size: 44px;
  text-align: left;
}

.additional-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  text-align: left;
}
